<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="no"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="no"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="no"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="no"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Pixelwerk</title>
<meta name="description" content="">
<meta name="author" content="Nico Calabrese - www.sikker.com.ar">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/css/base.css">
<!--<link rel="stylesheet" href="css/skeleton.css">-->
<link rel="stylesheet" href="/css/layout.css">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34780300-1']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

</head>
<body>
	<!-- Main content -->

	<div class="container">

          
          <div id="header">
               <h1 class="logo"><img src="/img/content/pixelwerk-logo.png" alt="Pixelwerk" /></h1>
               <p class="intro"><strong>PIXELWERK</strong> er et selskap som leverer innovative og interaktive løsninger som forsterker forbrukers opplevelse og engasjement på alle digitale plattformer.</p>
          </div>

          
          <div id="body">
               <ul class="gallery-list">
                    <!-- Partner 1 -->
                    <li>
                         <img src="/img/content/nicolas_portrait3.jpg" alt="Nicolas Iannone" />
                         <h3>NICOLAS IANNONE</h3>
                         <ul class="no-bullet" style="font-size: 12px;">
                              <li>CEO + partner</li>
                              <li>e: <a class="no-color" href="mailto:nicolas@pixelwerk.no">nicolas@pixelwerk.no</a></li>
                              <li>m: +47 408 31 874</li>
                         </ul>
                    </li>
                    
                    <!-- Partner 2 -->
                    <li><img src="/img/content/chester_portrait3.jpg" alt="Chester Lawrence Laquian" />
                         <h3>CHESTER LAWRENCE LAQUIAN</h3>
                         <ul class="no-bullet" style="font-size: 12px;">
                              <li>Kreativ leder + partner</li>
                              <li>e: <a class="no-color" href="mailto: chester@pixelwerk.no">chester@pixelwerk.no</a></li>
                              <li>m: +47 900 27 115</li>
                         </ul>
                    </li>
                    
                    <!-- Partner 3 -->
                    <li><img src="/img/content/roar-flolo.jpg" alt="Roar Flolo" />
                         <h3>ROAR FLØLO</h3>
                         <ul class="no-bullet" style="font-size: 12px;">
                              <li>chief software engineer + partner</li>
                              <li>e: <a class="no-color" href="mailto:roar@pixelwerk.no">roar@pixelwerk.no</a></li>
                              <li>m: +1 714 474 5494</li>
                         </ul>
                    </li>
                    
                    <!-- Partner 4 -->
                    <li class="last"><img src="/img/content/tom-aadland.jpg" alt="Tom Henrik Aadland" />
                         <h3>TOM HENRIK AADLAND</h3>
                         <ul class="no-bullet" style="font-size: 12px;">
                              <li>CTO + partner</li>
                              <li>e: <a class="no-color" href="mailto: tom@pixelwerk.no">tom@pixelwerk.no</a></li>
                              <li>m: +55 119 929 929 35</li>
                         </ul>
                    </li>
               </ul>
               
               
               <h3>HVA VI KAN HJELPE DEG MED:</h3>
               <ul>
                    <li>AR (Augmentend Reality)</li>
                    <li>Webløsninger</li>
                    <li>Applikasjoner for sosiale medier</li>
                    <li>Mobil Apps</li>
                    <li>Spill/interaktive løsninger</li>
                    <li>3D/2D visualisering</li>
                    <li>Illustrasjon og konseptdesign</li>
               </ul>
              <% unless params[:signed_request] %>               
               <p class="important facebook-icon">BESØK OSS PÅ <a href="https://facebook.com/pixelwerk.as" target="_blank"><img src="img/content/facebook-icon.png" alt="facebook" /></a></p>
             <% end %>
          </div>


          <div id="footer">
          <p class="copy"><em>powered by pixelwerk</em></p>
          </div>


	</div><!-- container -->



</body>
</html>
